<div style="text-align: center">
  <h1>Welcome to client-app!</h1>
  <img
    width="450"
    src="https://raw.githubusercontent.com/nrwl/nx/master/images/nx-logo.png"
  />
</div>
<div>Message: {{ hello$ | async | json }}</div>

<button (click)="login()">Login</button>
<button (click)="save()">Save</button>

<div class="user-card" *ngFor="let item of getAll$ | async">
  <h5>{{ item?.firstName }} {{ item?.lastName }}</h5>
  <span>Age: {{ item?.age }}</span>
  <span>Id: {{ item?._id }}</span>
</div>
